<html dir='rtl'>
<body>
{% if trans %}
<table border=1>
  <tr>
    <td> 1 </td>
    <td> 1 </td>
    <td> 1 </td>
    <td> 1 </td>
    <td> 1 </td>
    <td> 1 </td>
  </tr>
  <tr>
    <td> {{ trans.reference_id }} </td>
    <td> {{ trans.reference_desc }} </td>
    <td> {{ trans.full_amount }} </td>
    <td> {{ trans.current_amount }} </td>
    <td> {{ trans.account }} </td>
    <td> {{ trans.comment }} </td>
  </tr>
</table>
{% else %}
    <p>No Transactions are available.</p>
{% endif %}
</body>
</html>
